/* 通用選擇器，針對所有 HTML 元素 */
* {
  font-size: 18px;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* 滑鼠指向 <summary> 時變紅 */
summary:hover {
  color: red;
  cursor: pointer; /* 可選：顯示手指圖示 */
}

/* 滑鼠指向 <a> 超連結時變紅 */
a:hover {
  color: red;
  text-decoration: underline; /* 可選：加底線提示是連結 */
}

ul {
  list-style-type: none;   /* 去除項目前的圓點 */
  padding: 10;
  margin: 10;
  justify-content: center;

}

li {
  margin-right: 20px; /* 加右邊距，讓項目之間有空位 */
}

a {
  text-decoration: none;
  color: #333;
}


.row {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #000; /* 整行外框 */
}

.col {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #000; /* 每欄右邊黑線 */
  text-align: center;
}

/* 最後一欄不要右邊線 */
.col:last-child {
  border-right: none;
}





